@page "/"
@using Telepathic.Shared.Services
@inject IFormFactor FormFactor
@inject ITeamDataService TeamDataService

<PageTitle>Home</PageTitle>

<h1>Team Task Insights</h1>

Welcome to your new app running on <em>@factor</em> using <em>@platform</em>.

<p>This is where we will put a beautiful dashboard to show team stats. It's the same Blazor component the Mobile and Web apps use.</p>

@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();
}
